/bootstrap/compiled.php
/vendor
/wordpress/*
/node_modules
/bower_components
/public/js
/public/css
/public/error_log
/public/fonts/*
/assets/obj
.sass-cache
composer.phar
composer.lock
.env.*.php
*.swp
.env.php
.DS_Store
Thumbs.db
