.blog-post
  padding: 10px 0
  .top
    +outer-container
    margin: 0 0 15px 0
    .post-title, .post-date
      display: inline-block
      +span-columns(6)
      h1, h3
        line-height: 40px
    .post-date
      text-align: right

  .content
    p
      margin: 0 0 5px 0
