.comment-zone
  h3.bold comments
  .comment-form-container(ng-if="AuthManager.getCurrentUser() !== null")
    .writer(lft-blog-comment-form)
  .comment-login-container(ng-if="AuthManager.getCurrentUser() === null")
    .login(lft-blog-login-form)
