.blog-post
  .top
    .post-title
      a.view-link(ng-href="/blog/posts/{{ post.post_title | blogSlug }}") view
      h1 {{ post.post_title }}
    .post-date 
      h3.date {{ post.timestamp | date:medium }}
      h3.author(ng-if="post.author.display_name") via {{ post.author.display_name }}
  .content(ng-bind-html="htmlSafe()")
  .comment-form(lft-blog-post-comment-zone comments="post.comments")
