.blog-post
  .top
    .post-title 
      h1 {{ post.post_title }}
    .post-date 
      h3.date {{ post.timestamp | date:medium }}
      h3.author(ng-if="post.author.first_name[0]") via {{ post.author.first_name[0] }}
  .content(ng-bind-html="htmlSafe()")
