footer.main.oc
  .clmn.half.copy
    p copyright &copy; 2014 lofti.li
  .clmn.half.links
    p
      a(href="mailto:info@lofti.li") email
      i &nbsp; | &nbsp;
      a(href="https://github.com/loftili") github
      i &nbsp; | &nbsp;
      a(href="http://twitter.com/loftili") twitter
  
