.blog
  
  .page-title
    margin: 0 0 20px 0

    h1
      font-size: 60px

  .posts
    +outer-container
    .post
      padding: 10px 0

      h1
        font-weight: $font-weight-light
        padding: 0 0 10px 0

      p
        font-weight: $font-weight-light

