header
  margin: 0
  background: $dark-grey
  color: lighten($dark-grey, 40%)
  padding: 10px 0

  &.main
    position: relative
    width: 100%

    h1
      font-size: 12px
      font-weight: $font-weight-dark
